@{ 
    ViewBag.Title= "home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main>
    <div>
        <h1>this is home page</h1>
    </div>
    <div>
        hey there Im usinn html to create views
    </div>
</main>